<vue-final-modal
    v-slot="{ close }"
    classes="flex justify-center items-center"
    content-class="relative flex flex-col w-[500px] max-h-full mx-4 border dark:border-gray-800 rounded bg-white dark:bg-gray-900"
    v-model="state.showAssesmentModal"
>
    <ModalMarkup
        title="Warning!!!"
        :text="state.self_assesment_message"
        @close="close"
    />
</vue-final-modal>

<vue-final-modal
    v-slot="{ close }"
    classes="flex justify-center items-center"
    content-class="relative flex flex-col w-[500px] max-h-full mx-4 border dark:border-gray-800 rounded bg-white dark:bg-gray-900"
    v-model="state.showYearsInfoModal"
>
    <ModalMarkup title="Info!" :text="state.years_message" @close="close" />
</vue-final-modal>

<vue-final-modal
    v-slot="{ close }"
    classes="flex justify-center items-center"
    content-class="relative flex flex-col w-[500px] max-h-full mx-4 border dark:border-gray-800 rounded bg-white dark:bg-gray-900"
    v-model="state.showNIModal"
>
    <ModalMarkup title="Info!" :text="state.ni_message" @close="close" />
</vue-final-modal>

<div class="relative w-[100vw] left-1/2 -translate-x-1/2">
    <div class="max-w-[900px] mx-auto">
        <div class="p-3 mx-auto">
            <div class="flex items-center">
                <progress-step
                    :is-last="state.steps.length == i+1"
                    v-for="(s,i) in state.steps"
                    :key="i"
                    :title="s.title"
                    :number="s.number"
                    :step="i+1"
                    :current="state.step"
                />
            </div>

            <div
                class="max-w-[700px] mx-auto mt-20 bg-orange-50 py-5 px-5 lg:px-7 box-border"
            >
                <div v-if="state.step == 1">
                    <step-title title="Please enter your PPI Claim details" />
                    <div class="mt-6 mb-4">
                        <question
                            text="Were you required to complete a Self-Assessment the year you got your PPI refund?"
                        />
                        <div class="flex my-2">
                            <radio-box
                                name="self_assesment"
                                v-model="state.form[0].self_assesment"
                                :value="true"
                                label="Yes"
                                @update:modelValue="selfAssesedClick"
                            />
                            <radio-box
                                name="self_assesment"
                                v-model="state.form[0].self_assesment"
                                :value="false"
                                label="No"
                            />
                        </div>
                        <HasError
                            field="self_assesment"
                            :errors="state.errors"
                        />
                    </div>
                    <div class="mb-4">
                        <question
                            class="mb-3"
                            text="Please provide us with the TOTAL amount you received for
                        your PPI refunds in the relevant tax years below:"
                        />
                        <div
                            class="grid sm:grid-cols-2 sm:justify-items-center gap-x-6"
                        >
                            <amount-box
                                v-model="state.form[0].year_1"
                                label="Apr 2018 - Mar 2020"
                                @icon:click="state.showYearsInfoModal = true"
                            />
                            <amount-box
                                v-model="state.form[0].year_2"
                                label="Apr 2018 - Mar 2019"
                                @icon:click="state.showYearsInfoModal = true"
                            />
                            <amount-box
                                v-model="state.form[0].year_3"
                                label="Apr 2018 - Mar 2019"
                                @icon:click="state.showYearsInfoModal = true"
                            />
                            <amount-box
                                v-model="state.form[0].year_4"
                                label="Apr 2018 - Mar 2019"
                                @icon:click="state.showYearsInfoModal = true"
                            />
                            <div class="flex justify-start w-full mt-4">
                                <HasError
                                    field="year"
                                    :errors="state.errors"
                                    message="Please fill at least one record"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 mb-4">
                        <question
                            text="Were you earning less than £50,000 a year at the
                    time you received your PPI refund?"
                        />
                        <div class="flex my-2">
                            <radio-box
                                name="self_assesment"
                                v-model="state.form[0].less_earning"
                                :value="true"
                                label="Yes"
                            />
                            <radio-box
                                name="self_assesment"
                                v-model="state.form[0].less_earning"
                                :value="false"
                                label="No"
                            />
                        </div>

                        <HasError field="less_earning" :errors="state.errors" />
                    </div>
                    <div class="mt-6 mb-2">
                        <input-text
                            label="National insurance (NI) Number"
                            v-model="state.form[0].ni_number"
                        >
                            <span
                                class="absolute right-2 top-2 cursor-pointer"
                                @click="state.showNIModal = true"
                            >
                                <IconInfo />
                            </span>
                        </input-text>
                        <div class="mt-2">
                            <HasError
                                field="invalid_ni"
                                :errors="state.errors"
                                message="Invalid NI Number"
                            />
                            <HasError
                                field="ni_number"
                                :errors="state.errors"
                            />
                        </div>
                    </div>
                    <div class="flex items-center mt-2 mb-6">
                        <sign-checkbox
                            label="Can't remember (Provide it later)"
                        />
                    </div>
                    <div class="flex items-center justify-center">
                        <NextButton
                            text="Continue"
                            v-if="!state.form[0].self_assesment"
                            @click="stepForward"
                        />
                        <HasError
                            v-else
                            class="text-center"
                            field="already_assessed"
                            :errors="['already_assessed']"
                            :message="state.self_assesment_message"
                        />
                    </div>
                </div>

                <div v-if="state.step == 2">
                    <step-title
                        title="Please complete your details below to start your claim"
                    />

                    <div class="flex flex-col sm:flex-row mt-6">
                        <div class="basis-1/3 pr-2">
                            <input-select
                                class=""
                                label="Title"
                                :options="options.title"
                                v-model="state.form[1].title"
                            />
                        </div>
                        <div class="basis-1/3 pr-2 mt-5 sm:mt-0">
                            <input-text
                                class=""
                                label="First Name"
                                v-model="state.form[1].first_name"
                            />
                        </div>
                        <div class="basis-1/3 pr-2 mt-5 sm:mt-0">
                            <input-text
                                class=""
                                label="Last Name"
                                v-model="state.form[1].last_name"
                            />
                        </div>
                    </div>
                    <HasError
                        class="mt-1"
                        field="name"
                        :errors="state.errors"
                        message="The above fields are required"
                    />

                    <question class="mt-6" text="DOB" />

                    <div class="flex flex-col sm:flex-row">
                        <input-select
                            class="basis-1/3 pr-2"
                            label="Day"
                            in-select
                            :options="range(1,1,31)"
                            v-model="state.form[1].day"
                        />
                        <input-select
                            class="basis-1/3 pr-2 mt-5 sm:mt-0"
                            label="Month"
                            in-select
                            :options="options.months"
                            v-model="state.form[1].month"
                        />
                        <input-select
                            class="basis-1/3 pr-2 mt-5 sm:mt-0"
                            label="Year"
                            in-select
                            :options="range(new Date().getFullYear()-100,1,new Date().getFullYear()).reverse()"
                            v-model="state.form[1].year"
                        />
                    </div>
                    <HasError
                        class="mt-1"
                        field="dob"
                        :errors="state.errors"
                        message="The above fields are required"
                    />

                    <div class="flex items-center justify-center flex-col">
                        <NextButton
                            class="mt-8 mb-2"
                            text="Continue"
                            @click="stepForward"
                        />
                        <BackButton
                            class="font-bold"
                            text="Back"
                            @click="stepBack"
                        />
                    </div>
                </div>

                <div class="" v-if="state.step == 3">
                    <step-title
                        title="Enter your contact details to claim your tax back"
                    />
                    <div>
                        <div class="mt-6">
                            <input-text
                                type="email"
                                label="Email"
                                v-model="state.form[2].email"
                            />
                            <HasError class="mt-1" field="email" :errors="state.errors" />
                        </div>
                        <div class="mt-6">
                            <input-text
                                type="tel"
                                label="Phone Number"
                                v-model="state.form[2].phone"
                            />
                            <HasError class="mt-1" field="phone" :errors="state.errors" />
                        </div>

                        <div class="mt-6">
                            <input-text
                                label="Address"
                                v-model="state.form[2].address"
                            />
                            <HasError class="mt-1" field="address" :errors="state.errors" />
                        </div>
                        <div class="mt-6">
                            <input-text
                                label="Postcode"
                                v-model="state.form[2].postcode"
                            />
                            <HasError class="mt-1" field="postcode" :errors="state.errors" />
                        </div>
                    </div>
                    <div class="flex items-center mt-4 text-sm">
                        <sign-checkbox
                            label="I agree for Reclaim My PPI Tax to contact me with regards to any tax rebate purposes."
                        />
                    </div>
                    <HasError class="mt-2" field="agree" :errors="state.errors" />

                    <div class="flex items-center justify-center flex-col mt-7">
                        <NextButton text="Continue" @click="stepForward" />
                        <BackButton text="Back" @click="stepBack" />
                    </div>
                </div>

                <div class="" v-if="state.step == 4">

                    <great-news />

                    <input-text label="Do you have a referral code? (optional)" v-model="state.form[3].referal_code" />

                    <div class="mt-6 mb-1">
                      <p class="mb-1">Please draw your signature below in the green box.</p>
                      <div class="">
                        <VueSignaturePad class="w-full bg-white border border-green-500 rounded"
                          ref="signaturePad" />
                        <HasError class="mt-2" field="signature" :errors="state.errors" message="Signature required" />
                      </div>
                    </div>

                    <small class="font-bold cursor-pointer" @click="clearSignature">Clear Signature</small>

                    <div class="flex items-center justify-center flex-col mt-8">
                      <NextButton :disabled="state.loading" no-icon :text="state.loading? 'Please Wait ---': 'Start Your Claim'" @click="submit" />
                      <BackButton text="Back" @click="stepBack" />
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
